[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-django = "*"
pytest = "*"
pytest-cov = "*"
coverage = "*"

[packages]
django = "*"
requests = "*"
psycopg2-binary = "*"
django-widget-tweaks = "*"

[requires]
python_version = "3.7"
